.navbar {
    color: azure;
}

.w-15 {
    color: white;
    float: left;
    background-color: rgb(14, 186, 230);
    margin-left: 10px;
}

#city {
    display: inline-block;
}

.border {
    padding: 5px;
    margin: 10px;
}

.col-3 {
    background-color: bisque;
    padding-bottom: 10px;
}

