.navbar {
    color: azure;
}

.w-15 {
    color: white;
    float: left;
    background-color: rgb(14, 186, 230);
    margin-left: 10px;
}

#city {
    display: inline-block;
}

.border {
    padding: 5px;
    margin: 10px;
}

.col-3 {
    background-color: bisque;
    padding-bottom: 10px;
}

.text-center {
    text-transform: capitalize;
}

.green{
    color: white;
    background-color: green;
    display: initial;
}

.yellow{
    color: black;
    background-color: yellow;
    display: initial;
}

.orange{
    color: black;
    background-color: orange;
    display: initial;
}

.red{
    color: black;
    background-color: red;
    display: initial;
}

.violet{
    color: black;
    background-color: violet;
    display: initial;
}